<h1>New Post</h1>

<%= tinymce_assets %>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :body %>
	<%= f.text_area :body, class: "tinymce" %>
	<%= f.submit %>
<% end %>

<%= tinymce %>